body {
    font-family: Arial;
    background-color: rgb(196, 196, 219);
    padding: 40px 0px;
}
h2 {
    font-size: 28px;
    
}
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 5px;
}
    
span {
    color: grey;
}
.container {
    box-shadow: 0 0 20px grey;
    width: 960px;
    margin: 0 auto;
}
header,
section {
    padding: 10px 60px 20px 60px;
    background-color: white;
    width: 960px;
    margin: 0 auto;
    
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}
header ul {
    list-style: none
}
li {
    margin-bottom: 15px;
}
.adress-icon {
    width: 25px;
    height: 25px;
    background-color: rgb(116, 156, 202);
    margin-right: 10px;
    padding: 1px;
    vertical-align: middle;
}
.circle {
    border-radius: 50%;
}
.profile-picture {
    width: 180px;
    height: 220px;
}
.hobbies {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.hobbies li {
    width: 50%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}
.hobbies div {
    margin-left: 20px;
}
hobbies p {
    color: rgb(172, 162, 162);
    
}
p {
    line-height: 1.5;
}
.cv-download-link {
    border: 2px solid rgb(116, 156, 202);
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 25px;
    border-radius: 25px;
    transition: background-color 0.5s;
    box-shadow: 0 0 10px gray;
}
.cv-download-link:hover {
    color: white;
    background-color: rgb(116, 156, 202);
}
.cv-download-link:focus {
    outline: none;
    color: white;
    background-color: rgb(116, 156, 202);
}
.cv-download-link:active {
    text-decoration: underline;
}